.jumbotron
  %table.table.table-hover
    %thead
      %tr
        %th{:colspan => "2"} Crime Details
    %tbody#crime_details
      %tr
        %td Crime:
        %td= @stopped_crime.crime
      %tr
        %td Criminal:
        %td= @stopped_crime.criminal
      %tr
        %td Potential Victim:
        %td= @stopped_crime.potential_victim
      %tr
        %td Location:
        %td= @stopped_crime.location
      %tr
        %td Hero:
        %td= link_to @stopped_crime.hero.name, admin_hero_path(@stopped_crime.hero.id)
  = link_to 'Destroy this record', admin_stopped_crime_path(@stopped_crime), :method => :delete, :class => "btn btn-sm btn-danger"
