%h5.text-center Potential Powers

.row
  %ul.media-list#powers_list
    - @powers.each do |power|
      %li.media
        .col-md-2
          %a.thumbnail{:href => power_path(power)}
            = image_tag(power.image_url, :class => 'media-object')
        .col-md-8
          %a{:href => power_path(power)}
            .media-body
              %h5.media-heading= power.name
          %p
            = power.cost
            stopped crimes
            .row
              .col-md-6#distance_to_availability
                - if current_hero.wallet < (power.cost * 0.5)
                  %progress{:class => "progress progress-danger", value: "#{current_hero.wallet}", max: "#{power.cost}"}
                - elsif current_hero.wallet >= (power.cost)
                  %progress{:class => "progress progress-success", value: "#{current_hero.wallet}", max: "#{power.cost}"}
                - else
                  %progress{:class => "progress progress-warning", value: "#{current_hero.wallet}", max: "#{power.cost}"}
