= form_for [:admin, @power] do |f|
  = render partial: '/shared/errors', locals: {:target => @power}
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :cost
  = f.text_field :cost
  %br/
  = f.label :image_url
  = f.text_field :image_url
  %br/
  = f.submit
