%h5 All Heroes

%ul#heroes_list
  - Hero.where(:role => 0).each do |hero|
    = image_tag(hero.image_url)
    = link_to hero.name, admin_hero_path(hero)

= link_to 'Create new hero', new_admin_hero_path
= link_to 'Create Power', new_admin_power_path
= link_to 'Potential Powers', powers_path
